#landing {
	/**background-image: url('img/background.jpg');**/
  background-repeat: repeat-x;
  background-position: center top, left top;
  background-position-x: 50%, 0%;
  background-position-y: 500px, 0%;
       
  /**background-color: white;**/
}

#intro {
  margin-top:45px;
}

#intro2 {
  margin-top:45px;
}

body{
	background-color:#FFF5EE;
	/**background-image:url("../img/oceanPaper2.gif");
	background-repeat:repeat;**/
	/**background-size:100%;
	background-origin:content;
	width:100%;
  height:100%;**/
}

.padding {
  height:50px;
}

#market{
	/**text-align:center;
	margin:0 auto;**/
}

#demo{
	/**margin-right:5px;**/
	width:100%;
}


.video_wrapper{
	position:relative;
	padding-bottom:56.25%;
	padding-top:25px;
	height:0;
}
			
.video{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

#c_body{
	margin-top:75px;
	background-color:#EECFA1;
	/**opacity:.9;**/
	padding:0px 20px;
	margin-bottom:50px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
  border-radius: 6px;
  /**border:3px solid #8B4C39;**/
  align:center;
  border: 3px solid #283a62;
}

#con_body{
	width:540px;
	margin-top:75px;
	background-color:#EECFA1;
	/**opacity:.9;**/
	padding:0px 20px;
	margin-bottom:50px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
  border-radius: 6px;
  /**border:2px solid #8B3E2F;**/
  align:center;
  border: 3px solid #283a62;
  
}

#head_liner{
	/**width: 90%;
	margin-left:15%;**/
	padding:30px 20px 20px 20px;
	color:#000000;
}

#sideM{
	float:left;

}

#sideR{
	float:right;
	/**position:relative;**/
}

#sp3{
	border-left:solid 4px #283a62;
	border-top:solid 4px #283a62;
	padding-left:20px;
	font-family:Architects Daughter;
	padding-top:20px;
}

#about{
	align:center;
	margin-left:4%;
}

#about_Title{
	border-left:solid 4px #283a62;
	border-bottom:solid 4px #283a62;
	padding-left:20px;
	padding-right:20px;
	font-family:Architects Daughter;
}

.brand{
	font-family:Architects Daughter;
}

#contact_Form{
	margin-left:19%;
	margin-top:50px;
	border:inset 3px #8B4C39;
	padding:20px;
	
	background-color:rgb(0,0,0);
	background-image:url('http://www.zingerbugimages.com/backgrounds/parchment.jpg');
	background-repeat:repeat;
	
	
}

.btn-primary{
	background-color:#283a62;
}

label{
	font-family:helvetica;
	font-size:125%;
}

.btn{
	background-color:#283a62;
	color:#F5F5DC;
	background-image: linear-gradient(bottom, rgb(16,64,135) 6%, rgb(39,54,115) 53%, rgb(34,31,140) 81%);
	background-image: -o-linear-gradient(bottom, rgb(16,64,135) 6%, rgb(39,54,115) 53%, rgb(34,31,140) 81%);
	background-image: -moz-linear-gradient(bottom, rgb(16,64,135) 6%, rgb(39,54,115) 53%, rgb(34,31,140) 81%);
	background-image: -webkit-linear-gradient(bottom, rgb(16,64,135) 6%, rgb(39,54,115) 53%, rgb(34,31,140) 81%);
	background-image: -ms-linear-gradient(bottom, rgb(16,64,135) 6%, rgb(39,54,115) 53%, rgb(34,31,140) 81%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.06, rgb(16,64,135)),
	color-stop(0.53, rgb(39,54,115)),
	color-stop(0.81, rgb(34,31,140))
);
}



#mission{
	margin-left:18%;
	border-bottom:solid 4px #283a62;
	padding-bottom:20px;
}

#helv{
	font-family:helvetica;
}

#small{
	color:#283a62;
}

#mission2{
	margin-left:18%;
	padding-bottom:20px;
}

#descrip{
	margin-top:11%;
}
