body{
	background-color:#FFFAEE;
}

.padding {
  height:25px;
}

h2 {
	border-left:solid 4px #283a62;
	border-bottom:solid 4px #283a62;
	padding-left:20px;
	font-family:Architects Daughter, Helvetica, Arial, serif;
	padding-top:20px;
	color: #283a62;
}


.brand{
	font-family:Architects Daughter, Helvetica, Arial, serif;
	color: #E7DCCD;
}


p {
	font-family: 'Gentium Basic', serif;
	font-size:18px;
	font-weight:500;
	margin-top: 15px;
	margin-bottom: 15px;
	line-height: 23px;
}

.topPart{
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:0px;
	margin-top:75px;
	/**opacity:.9;**/
	padding:0px 20px 20px 0px;
	/**border-left: 4px solid #283a62;**/

}

.about div.span4{
	align:center;
	margin-top:10px;

}

.navbar-inner{
	/**Third Try**/
	background-image: linear-gradient(top, #987860 19%, #655040 60%, #987860 100%);
	background-image: -o-linear-gradient(top, #987860 19%, #655040 60%, #987860 100%);
	background-image: -moz-linear-gradient(top, #987860 19%, #655040 60%, #987860 100%);
	background-image: -webkit-linear-gradient(top, #987860 19%, #655040 60%, #987860 100%);
	background-image: -ms-linear-gradient(top, #987860 19%, #655040 60%, #987860 100%);

	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.19, #987860),
		color-stop(0.6, #655040),
		color-stop(1, #987860)
	);

}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
	height:28px;
	background-color: transparent;
	font-family: 'Gentium Basic', serif;
	font-size: 25px;
	font-weight:500;
	color:#F5F5DC;

}

.main_body{
	width:950px;
	margin-right: auto;
	margin-left: auto;
}

.navbar .nav > li > a {
	font-family: 'Gentium Basic', Garamond, Georgia, serif;
	font-weight: 500;
	font-size: 21px;
	margin-top: 5px;
	margin-left: 7%;
	color:#FFEBCD;
}

.navbar .nav > li > a:hover {
	color:#FFEBCD;
}

a {
  color: #005580;
  text-decoration: none;
}

.nav .nav-header {
	color: #291400;
}

.nav-list .active > a, .nav-list .active > a:hover{
	color:#291400;
}

img{ 
	display:block; /*allows the element to take auto margins*/ 
	margin:0 auto; /*centers in compliant browsers*/ 
	text-align:center; /*centers in old versions of IE*/ 
}

footer {
    margin-top: 25px;
    border-top: solid 2px #283a62;
    margin-bottom: 25px;
    
}

footer p {
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 15px;
	text-align: center;

}
